body {
    margin: 0;
    padding: 0;
    font-size: 14px; /* Sedikit diperbesar agar nyaman dibaca */
    background: black;
    color: #55cc66;
    font-family: 'Inconsolata'!important;
    overflow: hidden; 
}

/* Layar Pembuka */
#klik {
    position: fixed;
    z-index: 10000;
    top: 0; left: 0; 
    width: 100%; height: 100%;
    background: #000; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
}

/* Kontainer Utama menggunakan Flexbox */
#content {
    display: none; /* Akan diubah jadi 'flex' melalui JS */
    width: 100vw;
    height: 100vh;
    justify-content: center; /* Tengah secara horizontal */
    align-items: center;     /* Tengah secara vertikal */
    gap: 20px;               /* Jarak antara teks dan hati */
    position: relative;
    z-index: 10;
    pointer-events: none;
}

/* Area Teks (Kiri) */
#code {
    width: 570px;
    min-height: 450px;
    overflow: hidden;
    vertical-align: top;
    font-family: monospace
}

#loveHeart {
    width: 670px;
    height: 625px;
    position: relative;
}

#garden {
    width: 100%;
    height: 100%;
}

#words {
    position: absolute;
    width: 500px;
    height: 200px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;    
    text-align: center;
    pointer-events: none;
    font-size: 24px;
}

#messages {
    color: #d7d7d7;
    opacity: 0; 
    transition: opacity 2s ease;
    width: 100%;
    margin-bottom: 15px;
}

#elapseClock {
    font-size: 24px;
    font-weight: normal;
    margin: 10px 0 25px;
}

#elapseClock .digit {
    font-size:39px;
    color: #e6e6e6;
    text-shadow:
        0 0 6px rgba(165, 7, 44, 0.682),
        0 0 12px rgba(0, 20, 149, 0.53);
    margin: 0 2px;
}

#elapseClock .label {
    font-size: 16px;
    color: #dfdfdfd6;
    margin-right: 8px;
}

#loveu {
    opacity: 0;
    transition: opacity 2s ease;
    width: 100%;
    margin-top: 10px;
    font-size:20px;
    color: #d5d5d5d5;
}


#canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    z-index: 2; 
}

#code, #loveHeart {
  pointer-events: auto;
}
